/*-------------------------------------------------
Author : jwshin
Create date : 2023-03-02
Version : v1.0
-------------------------------------------------*/
/* 메인 페이지 - 영문*/
@media (max-width: 1440px) {
    #header .gnb-wrap > nav.en .gnb > li .depth2 {width: calc(840px / 5);}   
}
@media (max-width: 1280px) {
	#section3 .contents-wrap .poster-area .poster-box .poster-text {margin-left: 0;}
	#section3 .contents-wrap .poster-area .poster-box .poster-video {display: flex; justify-content: center;}
}

@media (max-width: 768px) {
	#contents .c-header .header-title-wrap .header-location {display: flex; align-items: center; justify-content: center;}
	#contents .c-header .header-title-wrap .header-location li:last-child {text-align: start; max-width: 36%;}
	#section1 .controller-bar {top: calc(36vh + 345px) !important;}
	#section2 .card-scroll .title-box {text-align: center;}
	#section2 .card-scroll .card .card-text p {height: auto !important;}
	.poster-video .img-wrap img {max-width: calc(100vw - 48px); height: auto;}
}

@media (max-width: 390px) {
    
}

/* 서브 페이지 */
@media (max-width: 1440px) {

}
@media (max-width: 1280px) {
    .c-tabbox .c-anchor .anchor-list li {max-width: inherit;}
    .c-main-wrap .box-diagram-h .diagram {flex-direction: column}
    .c-main-wrap .box-diagram-h .diagram .d-head {margin-right: 0; margin-bottom: 24px; text-align: center;}
    .c-main-wrap .box-diagram-h .diagram .d-head::after {top: 100%; left: 50%; height: 24px; width: 2px;}
    .c-main-wrap .box-diagram-h .diagram .d-item li {text-align: center;}
    .c-main-wrap .box-diagram-h .diagram .d-item li:before {display: none;}
    .c-main-wrap .box-diagram-h .diagram .d-item::after {display: none;}
}
@media (max-width: 990px) {

}
@media (max-width: 768px) {
	.c-tabbox .c-tab-area .c-tab-label {display: flex !important; align-items: center; line-height: inherit !important;}
	.c-main-wrap .d-tabs .d-tab li a {font-size: 1.6rem;}
	.c-main-wrap .box-diagram-h {padding: 40px 0;}
	.msvs-header {height: auto; padding: 40px 0 80px;}
}
@media (max-width: 500px) {

}
@media (max-width: 390px) {

}