@charset "utf-8";

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(./NotoKr-Thin.eot) format('eot'),
	url(./NotoKr-Thin.woff) format('woff'),
	url(./NotoKr-Thin.woff2) format('woff2'),
	url(./NotoKr-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(./NotoKr-Light.eot) format('eot'),
	url(./NotoKr-Light.woff) format('woff'),
	url(./NotoKr-Light.woff2) format('woff2'),
	url(./NotoKr-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(./NotoKr-Regular.eot) format('eot'),
	url(./NotoKr-Regular.woff) format('woff'),
	url(./NotoKr-Regular.woff2) format('woff2'),
	url(./NotoKr-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(./NotoKr-Medium.eot) format('eot'),
	url(./NotoKr-Medium.woff) format('woff'),
	url(./NotoKr-Medium.woff2) format('woff2'),
	url(./NotoKr-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(./NotoKr-Bold.eot) format('eot'),
	url(./NotoKr-Bold.woff) format('woff'),
	url(./NotoKr-Bold.woff2) format('woff2'),
	url(./NotoKr-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(./NotoKr-Black.eot) format('eot'),
	url(./NotoKr-Black.woff) format('woff'),
	url(./NotoKr-Black.woff2) format('woff2'),
	url(./NotoKr-Black.otf) format('opentype');
}
