/*-------------------------------------------------
Author : jwshin
Create date : 2023-01-19
Version : v1.0
-------------------------------------------------*/
/* 메인 페이지 */

/* Footer */
.footer {
    position: relative;
    background: #fff;
    color: white;
    /* padding: 40px 0; */
    /* margin-top: 60px; */
    overflow: hidden;
}
.footer::after {
    content: '';
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: #dee1e4;
}
.footer img{
    max-width: 100%;
    width: 1280px;
    transform: scale(1.16);
    display: block;
    margin: 14px auto 0;
}

.footer-content {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 40px;
    align-items: start;
}

.footer-logo img {
    height: 33px;
}

.footer-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.footer-link:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: -12px;
    color: #666;
}

.footer-link.important {
    color: #f48f01;
}

.footer-link:hover {
    color: #f48f01;
}

.footer-info p,
.footer-contact p {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
}

.footer-info strong,
.footer-contact strong {
    font-weight: 700;
}

.phone-number {
    color: #ff8c29;
}
