@charset "UTF-8";

/*메인 팝업존*/
.mPopZone {position:absolute;left:0;top:0;width:100%;z-index: 9999;box-sizing:border-box;}
.mSticky .mPopZone {z-index: 990;}
.mPopZone .pop_admin {position:absolute;z-index:9999;display:inline-block;font-size:0;;box-sizing:border-box;vertical-align:top;}
.mPopZone .pop_admin.cngFont .pop_tit {font-size:20px;}
.mPopZone .pop_admin .pop_ct img {width:100%;}
.mPopZone .pop_tit {display:flex;align-items:center;width:100%;min-height:60px;padding:15px 20px;line-height:30px;color:#fff;background:#212e4e;font-size:24px;box-sizing:border-box;text-align:left;;}
.mPopZone .pop_ct {position:relative;width:100%;height:100%;font-size:0;overflow:hidden;border:1px solid #212e4e;border-bottom:0;box-sizing:border-box;background:#fff;padding:20px;box-sizing:border-box;text-align:left;;}
.mPopZone .pop_ct .txtArea {padding:10px;}
.mPopZone .closedArea {position:relative;width:100%;height:40px;border:1px solid #212e4e;border-top:0;background-color:#e3e5e6;text-align:left;padding:0 10px;box-sizing:border-box;}
.mPopZone .closedArea .inp_c {top:2px;}
.mPopZone .closedArea .inp_c>label {font-size:14px;color:#666;line-height:18px;}
.mPopZone .closedArea .closedBtn {position:absolute;right:20px;top:50%;display:block;width:15px;height:15px;margin-top:-7.5px;background:url(../img/main/icon_mPop_dayClosed.png) no-repeat;}
.mPopZone .closedArea .closedBtn>span {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}




/* Main */
.typeMain{overflow-x:hidden !important;}
.typeMain #contents {padding:0;max-width:100%}


.mTit{display:inline-block;vertical-align:middle;font-size:28px;color:#0f0f0f;letter-spacing:-1px;line-height:1em;font-weight:bold;}
.mTit.link {padding-right:23px;background:url(../img/main/mTit_arrR.png) no-repeat right 0 top 5px;}

.innerCont{max-width:1480px;margin:0 auto;padding-left:20px;padding-right:20px;box-sizing:border-box;}

/*메인 비쥬얼*/
.mVisual{width:100%;margin:40px 0 0px 0;}
.mVisual .mNewsBtnArea{font-size:0;}
.mVisual .newsSwitch{position:relative;display:inline-block;vertical-align:middle;font-size:0;margin-left:20px;border-radius:30px;border:1px solid #eeeeee;box-sizing:border-box;}
.mVisual .newsSwitch .selectBg{position:absolute;left:-1px;top:-1px;display:block;width:109px;height:40px;background:#4286ea;border-radius:30px;z-index:0;transition:all 0.2s;}
.mVisual .newsSwitch>a{position:relative;display:inline-block;padding:0 15px;box-sizing:border-box;z-index:1;}
.mVisual .newsSwitch>a>span{display:inline-block;height:38px;padding-left:22px;font-size:15px;font-weight:500;line-height:38px;color:#666;background-repeat:no-repeat;transition:all 0.2s;}
.mVisual .newsSwitch>a.newBtn>span{background-image:url(../img/main/icon_newBtn.png);background-position:left 0 center;}
.mVisual .newsSwitch>a.popularBtn{margin-left:-20px;padding-left:35px;border-radius:0px 30px 30px 0px;}
.mVisual .newsSwitch>a.popularBtn>span{background-image:url(../img/main/icon_popularBtn.png);background-position:left 0 center;}
.mVisual .newsSwitch>a.on>span{color:#fff;}
.mVisual .newsSwitch>a.on.newBtn>span{background-image:url(../img/main/icon_newBtn_on.png);}
.mVisual .newsSwitch>a.on.popularBtn>span{background-image:url(../img/main/icon_popularBtn_on.png);}
.mVisual .mNewsBtnArea .multiOpt{float:right;font-size:0;}
.mVisual .mNewsBtnArea .multiOpt .linkArea{display:inline-block;vertical-align:middle;margin-right:20px;}

.linkArea {margin-top:-6px;}
.arrLink{display:inline-block;vertical-align:top;}
.arrLink>span{display:block;width:86px;height:35px;border:1px solid #9a9a9a;box-sizing:border-box;border-radius:2px;color:#333;text-align:center;line-height:35px;font-size:15px;}

.mPlus{display:inline-block;width:30px;height:30px;text-indent:-9999px;background:url(../img/main/icon_mPlus.png) no-repeat center center;}

.mVisual .mNewsBtnArea .multiOpt .viewSwitch{display:inline-block;width:85px;height:40px;border:1px solid #e6e6e6;vertical-align:middle;font-size:0;text-align:center;}
.mVisual .mNewsBtnArea .multiOpt .viewSwitch>button{display:inline-block;width:18px;height:18px;margin:12px 7px 0 7px;text-indent:-9999px;font-size:14px;background-repeat:no-repeat;transition:all 0.2s;}
.mVisual .mNewsBtnArea .multiOpt .viewSwitch>button.galleryBtn{background-image:url(../img/main/icon_galleryBtn.png);background-position:center center;}
.mVisual .mNewsBtnArea .multiOpt .viewSwitch>button.listBtn{background-image:url(../img/main/icon_listBtn.png);background-position:center center;}
.mVisual .mNewsBtnArea .multiOpt .viewSwitch>button.on.galleryBtn{background-image:url(../img/main/icon_galleryBtn_on.png);}
.mVisual .mNewsBtnArea .multiOpt .viewSwitch>button.on.listBtn{background-image:url(../img/main/icon_listBtn_on.png);}

/* 메인비쥬얼 뉴스 노티영역 */
.mVisualSlider .mNewsSlider{font-size:0;}
.mVisualSlider{height:auto;font-size:0;}
.mVisualSlider .notiArea{display:inline-block;height:100%;vertical-align:top;margin-right:25px;}
.mVisualSlider .notiArea.fullView{width:calc(50% - 17px);max-width:706px;}
.mVisualSlider .notiArea.subView{width:calc(25% - 16.5px);max-width:342px;}
.mVisualSlider .notiArea.subView>a:nth-of-type(n+2){margin-top:24px;}
.mVisualSlider .notiArea.subView>.link .txtInfo .tit{font-size:22px;line-height:30px;height:60px;}
.mVisualSlider .notiArea.subView>.link .txtInfo .tags{margin-top:23px;}

.mVisualSlider .notiArea>.link{position:relative;display:block;width:100%;box-sizing:border-box;border-radius:10px;overflow:hidden;transition:all 0.2s;}
.mVisualSlider .notiArea>.link::before{content:"";position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(255,255,255,0);border:1px solid #e5e6e9;border-radius:10px;box-sizing:border-box;z-index:0;transition:all 0.2s;}
.mVisualSlider .notiArea>.link:focus,
.mVisualSlider .notiArea>.link:hover{box-shadow:0px 0px 10px 5px rgba(0,0,0,0.1);}
.mVisualSlider .notiArea>.link:focus:before,
.mVisualSlider .notiArea>.link:hover:before{border-color:#4286ea;;z-index:2;}
.mVisualSlider .notiArea>.link .txtInfo{padding:25px;box-sizing:border-box;height:176px;}
.mVisualSlider .notiArea>.link .txtInfo .cag{display:block;font-size:15px;font-weight:500;color:#666;line-height:1em;margin-bottom:15px;}
.mVisualSlider .notiArea>.link .txtInfo .tit{display:-webkit-box !important;display:block;height:78px;font-size:32px;font-weight:500;color:#0f0f0f;letter-spacing:-1px;line-height:38px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;}
.mVisualSlider .notiArea>.link .txtInfo .subTxt{display:block;font-size:15px;color:#666;line-height:24px;margin-bottom:25px;word-break:keep-all;}
.mVisualSlider .notiArea>.link .txtInfo .tags{display:block;font-size:0;margin-top:5px;}
.mVisualSlider .notiArea>.link .txtInfo .tags>span{display:inline-block;vertical-align:middle;font-size:13px;color:#4286ea;line-height:1em;margin-right:10px;}

/*썸네일 형*/
.mVisualSlider .notiArea.fullView>.thumbnail{height:600px;}
.mVisualSlider .notiArea.fullView>.link.thumbnail .imgArea{height:425px;}
.mVisualSlider .notiArea.subView>.thumbnail{height:400px;}
.mVisualSlider .notiArea.subView>.link.thumbnail .imgArea{height:225px;}
.mVisualSlider .notiArea>.link.thumbnail .imgArea{position:relative;width:calc(100% + 2px);background-repeat:no-repeat;background-size:cover;background-position:center center;margin:-1px;z-index:1;}

/* 배경형 */
.mVisualSlider .notiArea>.link.bg .txtInfo{position:relative;z-index:1;}
.mVisualSlider .notiArea>.link.bg .txtInfo .cag{color:#fff;}
.mVisualSlider .notiArea>.link.bg .txtInfo .tit{color:#fff;}
.mVisualSlider .notiArea>.link.bg .txtInfo .tags>span{color:#fff;}
.mVisualSlider .notiArea>.link.bg .imgArea{position:absolute;width:100%;height:100%;left:0;top:0;z-index:0;background-position:center center;background-size:cover;}

/* 리스트 형*/
.mVisualSlider .mNewsSlider.list .notiArea>.link .txtInfo{height:auto;}
.mVisualSlider .mNewsSlider.list .notiArea.fullView>.thumbnail{height:290px;padding-right:130px;}
.mVisualSlider .mNewsSlider.list .notiArea.fullView>.link .txtInfo .tit{height:auto;max-height:78px;margin-bottom:20px;}
.mVisualSlider .mNewsSlider.list .notiArea.fullView>.link.thumbnail .imgArea{position:absolute;right:15px;top:15px;width:105px;height:105px;border-radius:10px;}
.mVisualSlider .mNewsSlider.list .notiArea.fullView>.link .txtInfo .subTxt{display:-webkit-box !important;display:block;height:72px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.mVisualSlider .mNewsSlider.list .notiArea.fullView>a:nth-of-type(n+2){margin-top:24px;}
/*썸네일 2번째 타입(서브)*/
.mVisualSlider .mNewsSlider.list .notiArea.fullView>.thumbnail.sub{height:131px;}
.mVisualSlider .mNewsSlider.list .notiArea.fullView>.thumbnail.sub.link .txtInfo .tit{font-size:22px;height:38px;-webkit-line-clamp:1;margin-bottom:10px;}
.mVisualSlider .mNewsSlider.list .notiArea.fullView>.thumbnail.sub.link .txtInfo .cag{margin-bottom:7px;}
.mVisualSlider .mNewsSlider.list .notiArea.fullView>.thumbnail.sub .imgArea{width:100px;height:100px;}
/*리스트형 2번째 칼럼 */
.mVisualSlider .mNewsSlider.list .notiArea.subView>.link{height:184px;}
.mVisualSlider .mNewsSlider.list .notiArea.subView>.link .txtInfo .tags{margin-top:28px;}

.mVisual  {position:relative;margin-bottom:50px;}
.mVisual .innerCont {font-size:0;}
.mVisual .innerCont .sliderWrap {display:inline-block;}
.mVisual .mVisualSlider {position:relative;display:inline-block;width:708px;height:552px;border-radius:10px;margin-right:30px;background:#e7e7e7;vertical-align:top;text-align:center;}
.mVisual .mVisualSlider:before {content:'';position:absolute;left:0;top:0;display:block;width:100%;height:100%;border-radius:10px;box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);}
.mVisual .mVisualSlider .slick-list {border-radius:10px;}
.mVisual .mVisualSlider .unit {width:708px;height:554px;border-radius:10px;background-repeat:no-repeat;background-size:cover;background-position:center;overflow:hidden;}
.mVisual .mVisualSlider .unit>a {position:relative;display:block;width:100%;height:100%;border-radius:10px;}
.mVisual .mVisualSlider .unit>a img {display:block;width:100%;height:100%;border-radius:10px;}
.mVisual .mVisualSlider .unit>a>span {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)} 
.mVisual .sliderWrap .PageIndex {width:calc(100% - 30px);margin-top:23px;font-size:0;text-align:center;}
.mVisual .sliderWrap .PageIndex .slick-dots {font-size:0;}
.mVisual .sliderWrap .PageIndex .slick-dots>li {display:inline-block;vertical-align:top;}
.mVisual .sliderWrap .PageIndex .slick-dots>li+li {margin-left:8px;}
.mVisual .sliderWrap .PageIndex .slick-dots>li.controller {margin-left:10px;}
.mVisual .sliderWrap .PageIndex .slick-dots>li button {display:block;width:6px;height:6px;border-radius:50%;background:#cdcdcd;font-size:1px;text-indent:-9999px;overflow:hidden;}
.mVisual .sliderWrap .PageIndex .slick-dots>li.slick-active button {background:#4286ea;}
.mVisualSlider .slick-arrow{position:absolute;top:calc(50% - 25px);width:50px;height:50px;border:1px solid #e5e6e9;box-sizing:border-box;border-radius:50%;background-color:#fff;box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);font-size:16px;text-indent:-9999px;background-repeat:no-repeat;background-position:center center;z-index:1;}
.mVisualSlider .slick-arrow.slick-prev{background:#fff url(../img/layout/layout_sprite.png) no-repeat -450px -152px;left:-25px}
.mVisualSlider .slick-arrow.slick-next{background:#fff url(../img/layout/layout_sprite.png) no-repeat -448px -190px;right:-25px}
.mVisual .sliderWrap .PageIndex .slick-dots>li.controller button {display:block;width:9px;height:12px;margin-top:-3px;border-radius:0;font-size:0;z-index:1;background: url(../img/layout/layout_sprite.png) no-repeat -499px -118px;}
.mVisual .sliderWrap .PageIndex .slick-dots>li.controller button.paused {background-position: -499px -150px;}

.mVisual .mNewsList {display:inline-block;width:calc(100% - 738px);height:552px;vertical-align:top;}
.mVisual .mNewsList .list {height:125px;border:1px solid #e5e6e9;border-radius:10px;box-sizing:border-box;box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);transition:.3s all;}
.mVisual .mNewsList .list+.list {margin-top:18px;}
.mVisual .mNewsList .list>a {position:relative;display:block;width:100%;padding:15px 50px 15px 190px;;box-sizing:border-box;}
.mVisual .mNewsList .list:hover {border:1px solid #4286ea;box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);}
.mVisual .mNewsList .list>a .tit {display:block;overflow:hidden;text-overflow:ellipsis;white-space:pre;font-size:22px;letter-spacing:-1px;font-weight:500}
.mVisual .mNewsList .list>a .txt {display:block;height:43px;margin-top:7px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size:15px;color:#666;line-height:22px;}
.mVisual .mNewsList .list .imgArea {position:absolute;left:15px;top:15px;width:145px;height:90px;border-radius:5px;background-repeat:no-repeat;background-size:cover;background-position:center;border:1px solid #e2e2e2;}
.mVisual .mNewsList .list .imgArea img {display:block;width:100%;height:100%;border-radius:5px;}


/*북마크/인기검색어*/
.mEtc{margin-bottom:50px;}
.mEtc .innerCont{font-size:0;}
.mEtc .innerCont>div{position:relative;display:inline-block;width:50%;height:72px;vertical-align:middle;box-sizing:border-box;}
.mEtc .innerCont>div::before{content:"";position:absolute;top:0;display:block;width:100%;height:100%;z-index:0;width:300%;}
.mEtc .innerCont>div.bookMark{background-color:#16b9b3;padding:0 90px 0 112px;}
.mEtc .innerCont>div.bookMark::before{background-color:#16b9b3;left:-300%;}
.mEtc .innerCont>div.searchWord{background-color:#8366d0;padding:0 20px 0 180px;}
.mEtc .innerCont>div.searchWord::before{background-color:#8366d0;right:-300%;}

.mEtc .innerCont .tit{position:absolute;left:0;top:28px;font-size:17px;line-height:1em;font-weight:500;color:#fff;}

.mEtc .innerCont>div.bookMark .mEtcSlider{font-size:0;margin-top:19px;}
.mEtc .innerCont>div.bookMark .mEtcSlider .item .name{display:inline-block;height:34px;margin:0 4px;border:1px solid #fff;box-sizing:border-box;border-radius:35px;padding:0 15px;font-size:15px;color:#fff;line-height:32px;text-align:center;}
.mEtc .innerCont>div.bookMark .mEtcSlider .slick-arrow{position:absolute;top:calc(50% - 10px);width:20px;height:20px;font-size:16px;text-indent:-9999px;background-repeat:no-repeat;background-position:center center;}
.mEtc .innerCont>div.bookMark .mEtcSlider .slick-arrow.slick-prev{background-image:url(../img/main/icon_mEtcSlider_prev.png);left:-30px}
.mEtc .innerCont>div.bookMark .mEtcSlider .slick-arrow.slick-next{background-image:url(../img/main/icon_mEtcSlider_next.png);right:-30px}

.mEtc .innerCont>div.searchWord .tit{left:60px;}
.mEtc .innerCont>div.searchWord .ranKing{font-size:0;margin-top:23px;white-space:nowrap}
.mEtc .innerCont>div.searchWord .ranKing .item{display:inline-block;vertical-align:middle;}
.mEtc .innerCont>div.searchWord .ranKing .item .name{display:inline-block;font-size:15px;line-height:1em;color:#fff;margin-right:40px;}
.mEtc .innerCont>div.searchWord .ranKing .item .name>b{display:inline-block;vertical-align:0;font-weight:500;margin-right:4px;line-height:inherit;}

/*배너영역*/
.mBannerImgArea{margin-bottom:60px;text-align:center;}
.mBannerImgArea .innerCont{font-size:0;}
.mBannerImgArea .banner{display:inline-block;vertical-align:middle;width:calc(50% - 12px);max-height:260px;border-radius:5px;overflow:hidden;}
.mBannerImgArea .slick-list {margin:0 -12px;}
.mBannerImgArea .banner {margin:0 12px;}
/* .mBannerImgArea .banner:nth-of-type(2){margin-left:24px;} */
.mBannerImgArea .banner>a{display:block;width:100%;height:100%;}
.mBannerImgArea .banner>a>img {display:block;width:100%;border-radius:5px;}
.mBannerImgArea .banner .noBanner {width:100%;height:100%;min-height:260px;box-sizing:border-box;background:url(../../common/img/board/ico_noArticle.png) no-repeat 50%}
.mBannerImgArea .PageIndex {position:relative;display:inline-block;padding:0 30px;margin-top:22px;text-align:center;vertical-align:top;}
.mBannerImgArea .slick-dots {font-size:0;text-align:center;font-size:0;}
.mBannerImgArea .slick-dots>li {display:inline-block;vertical-align:top;}
.mBannerImgArea .slick-dots>li+li {margin-left:15px;}
.mBannerImgArea .slick-dots>li button {position:relative;display:block;width:8px;height:8px;background:#b3b3b3;border-radius:50%;transition:.2s all;font-size:3px;text-indent:-9999px;box-sizing:border-box;overflow:hidden;}
.mBannerImgArea .slick-dots>li:hover button {background:#000}
.mBannerImgArea .slick-dots>li.slick-active button {background:#000;}
.mBannerImgArea .PageIndex .slick-dots>li.controller button {display:block;width:8px;height:12px;background: url(../img/layout/layout_sprite.png) no-repeat -441px -420px;transition:none;margin-top:-2px;}
.mBannerImgArea .PageIndex .slick-dots>li.controller button.paused {background-position:-499px -247px;;border-radius:0;}

.mBannerImgArea .PageIndex .slick-arrow {position:absolute;left:0;top:-3px;width:8px;height:14px;background: url(../img/layout/layout_sprite.png) no-repeat -42px -492px;}
.mBannerImgArea .PageIndex .slick-arrow.slider_arrR {left:auto;right:0px;background-position:-70px -492px}

/* 금주의 국가정보 */
.mNewsNNation {margin-bottom:45px;font-size:0;}
.mNewsNNation .innerCont {font-size:0;}
.mPopularNews {display:inline-block;;width:calc(100% - 520px);margin-right:60px;vertical-align:top;font-size:0;}
.mPopularNews .listWrap {margin-top:19px;font-size:0;}
.mPopularNews .listArea {display:inline-block;width:calc(50% - 30px);vertical-align:top;}
.mPopularNews .listArea:first-child {margin-right:60px;}
.mPopularNews .listArea>a {position:relative;display:block;width:100%;height:81px;padding:19px 130px 18px 37px;box-sizing:border-box;border-bottom:1px solid #d9d9d9;}
.mPopularNews .listArea>a:last-child {border-bottom:0;}
.mPopularNews .listArea>a .num {position:absolute;left:0;top:12px;display:block;font-size:32px;color:#4286ea;font-weight:500;}
.mPopularNews .listArea>a .tit {display:-webkit-box;height:45px;line-height:24px;font-weight:500;color:#0f0f0f;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;}
.mPopularNews .listArea>a:hover .tit {text-decoration: underline;}
.mPopularNews .listArea>a .imgArea {position:absolute;right:0px;top:10px;width:88px;height:60px;}
.mPopularNews .listArea>a .imgArea img {display:block;width:100%;height:100%;}

.mNationInfo {display:inline-block;width:460px;vertical-align:top;}
.mNationInfo .linkArea{float:right;}
.mNationInfo .mNationRanKing{margin-top:29px;font-size:0;box-shadow:0px 0px 10px 4px rgb(0 0 0 / 7%);border:1px solid #e6e6e6;box-sizing:border-box;border-radius:5px;}
.mNationInfo .mNationRanKing .item{position:relative;height:101px;box-sizing:border-box;vertical-align:top;}
.mNationInfo .mNationRanKing .item:nth-of-type(n+2)::before{content:"";position:absolute;left:0;top:0;display:block;width:100%;height:1px;background-color:#e6e6e6;}
.mNationInfo .mNationRanKing .item>a{position:relative;display:block;width:100%;height:100%;padding:40px 90px 10px 108px;box-sizing:border-box;}
.mNationInfo .mNationRanKing .item>a:before {content:'';position:absolute;right:40px;top:50%;display:block;width:11px;height:19px;margin-top:-9.5px;background: url(../img/layout/layout_sprite.png) no-repeat -468px -89px;}

.mNationInfo .mNationRanKing .item>a .num{position:absolute;left:52px;top:29px;font-size:32px;font-weight:500;color:#4286ea;line-height:1em;}
.mNationInfo .mNationRanKing .item>a .tit{display:inline-block;font-size:22px;font-weight:500;color:#0f0f0f;line-height:1em;}
.mNationInfo .mNationRanKing .item>a .sub{display:inline-block;font-size:15px;color:#9a9a9a;line-height:1em;margin-left:3px;}
.mNationInfo .mNationRanKing .item>a>img{position:absolute;left:40px;top:30px;width:40px;height:40px;}


/* 이미지 공지영역 */
.mImgNotice{background-color:#f2f2f2;margin-bottom:50px;}
.mImgNotice .innerCont{padding-top:50px;padding-bottom:40px;font-size:0;}
.mImgNotice .linkArea{float:right;}
.mImgNotice .reportArea{position:relative;display:inline-block;width:460px;vertical-align:top;}

.mImgNotice .reportList {width:calc(100% + 25px);font-size:0;margin-top:24px;}
.mImgNotice .reportList .item{display:inline-block;vertical-align:top;width:220px;margin-right:25px;}
/* .mImgNotice .reportList .item:nth-of-type(2){margin-right:0;} */
.mImgNotice .reportList .item .topImg{position:relative;width:100%;height:260px;overflow:hidden;box-sizing:border-box;border-radius:5px;}
.mImgNotice .reportList .item .topImg>img{display:block;margin:0 auto;width:100%;height:100%;border-radius:5px;z-index:1;}
.mImgNotice .reportList .item .topImg .downArea{width:100%;height:100%;position:absolute;left:0;top:100%;z-index:2;transition:all 0.2s;}
.mImgNotice .reportList .item .topImg .downArea::before{content:"";position:absolute;width:100%;height:100%;left:0;top:0;display:block;background:linear-gradient(0deg, #8366d0 40%, #4286ea);opacity:0.5;z-index:0;}
.mImgNotice .reportList .item .topImg .downArea .btnI{width:140px;position:absolute;z-index:2;border-color:#fff;left:50%;top:50%;transform:translate(-50%,-50%);}
.mImgNotice .reportList .item .topImg .downArea .btnI{width:140px;position:absolute;z-index:2;border-color:#fff;left:50%;top:50%;transform:translate(-50%,-50%);}
.mImgNotice .reportList .item .topImg .downArea .btnI>span {position:relative;background:none !important;}
.mImgNotice .reportList .item .topImg .downArea .btnI.fileDown.lineGray:hover {background:#fff !important;}
.mImgNotice .reportList .item .topImg .downArea .btnI.fileDown.lineGray:hover>span {color:#000 !important;}
.mImgNotice .reportList .item .topImg .downArea .btnI.fileDown.lineGray>span:before {content:'';position:absolute;right:0;top:50%;display:block;width:14px;height:16px;margin-top:-8px;background: url(../img/layout/layout_sprite.png) no-repeat -78px -422px;}
.mImgNotice .reportList .item .topImg:focus .downArea,
.mImgNotice .reportList .item .topImg:hover .downArea{top:0;}
.mImgNotice .reportList .item .tit{display:-webkit-box;height:56px;margin-top:19px;font-size:18px;line-height:26px;font-weight:500;color:#0f0f0f;letter-spacing:-0.5px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;}
.mImgNotice .reportList .item .tit:hover a {text-decoration:underline;}
.mImgNotice .reportList .slick-arrow {position:absolute;right:25px;top:-48px;;width:10px;height:18px;background:url(../img/layout/layout_sprite.png) no-repeat -468px -281px;font-size:1px;text-indent:-9999px;overflow:hidden;;}
.mImgNotice .reportList .slick-arrow.slick-prev {right:75px;background-position: -468px -243px;}
.mImgNotice .reportArea .controller {position:absolute;right:26px;top:7px;}
.mImgNotice .reportArea .controller>.btn_play {display:block;width:8px;height:11px;background:url(../img/layout/layout_sprite.png) no-repeat -499px -247px;}
.mImgNotice .reportArea .controller>.btn_play.stop {background-position: -499px -279px;}
.mImgNotice .reportArea .controller>button>span {position: absolute;top: 0;left: 0;width: 1px;height: 1px;margin: 1px;border: none;overflow: hidden;clip: rect(0, 0, 0, 0);}

.mImgNotice .secondNews{display:inline-block;width:calc(100% - 520px);vertical-align:top;}
.mImgNotice .secondNewsSlider{position:relative;margin-top:24px;width:100%;}
.mImgNotice .secondNewsSlider .slick-arrow{position:absolute;top:calc(50% - 25px);width:50px;height:50px;border-radius:50%;background-color:#fcfcfc;box-shadow:4px 5px 10px rgba(0,0,0,0.15);font-size:16px;text-indent:-9999px;background-repeat:no-repeat;background-position:center center;z-index:15;}
.mImgNotice .secondNewsSlider .slick-arrow.slick-prev{display:none !important;}
.mImgNotice .secondNewsSlider .slick-arrow.slick-next{background-image:url(../img/main/icon_secondNewsSlider_next.png);right:-25px}
.mImgNotice .secondNewsSlider::before{content:"";display:block;width:150px;height:100%;position:absolute;right:0;top:0;z-index:10;background-image:url(../img/main/secondNewsSlider_mask.png);background-repeat:repeat-y;}
.mImgNotice .secondNewsSlider .item{width:585px;height:345px;margin-right:25px;border-radius:10px;overflow:hidden;}
.mImgNotice .secondNewsSlider .item a{position:relative;display:block;height:100%;background-repeat:no-repeat;background-position:center center !important;background-size:cover;}
.mImgNotice .secondNewsSlider .item a::before{content:"";position:absolute;left:calc(50% - 32px);top:calc(50% - 32px);width:64px;height:64px;background:url(../img/main/icon_secondNews_play.png) no-repeat center center;}
.mImgNotice .secondNewsSlider .item a .tit{position:absolute;left:0;bottom:53px;width:100%;padding:0 30px;box-sizing:border-box;font-size:22px;font-weight:500;line-height:1em;color:#fff;letter-spacing:-0.5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.mImgNotice .secondNewsSlider .item a .tags{position:absolute;left:0;bottom:20px;width:100%;padding:0 30px;box-sizing:border-box;font-size:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.mImgNotice .secondNewsSlider .item a .tags>span{font-size:13px;line-height:1em;color:#fff;margin-right:10px;}

.mImgNotice .videoNews {position:relative;display:inline-block;margin-right:60px;width:calc(100% - 520px);vertical-align:top;font-size:0;}
.mImgNotice .videoNews .videoNewsList {position:relative;width:calc(100% + 25px);margin-top:24px;font-size:0;}
.mImgNotice .videoNews .item {display:inline-block;width:calc(50% - 12px);margin-right:25px;vertical-align:top;}
.mImgNotice .videoNews .item>a {display:block;}
.mImgNotice .videoNews .topImg {position:relative;width:100%;height:260px;overflow:hidden;box-sizing:border-box;border-radius:5px;font-size:0;}
.mImgNotice .videoNews .topImg img {display:block;width:auto;height:auto;max-width:100%;min-width:100%;min-height:100%;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);z-index:1;}
.mImgNotice .videoNews .topImg:before {content:'';position:absolute;left:0;top:0;display:block;width:100%;height:100%;background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);opacity:0.3;}
.mImgNotice .videoNews .topImg:after {content:'';position:absolute;left:50%;top:50%;margin-left:-30px;margin-top:-30px;display:block;width:60px;height:60px;border:1px solid #fff;box-sizing:border-box;border-radius:50%;background:url(../img/main/videoNewsList_btn.png) no-repeat top 50% left 24px;}
.mImgNotice .videoNews .infoArea {margin-top:17px;}
.mImgNotice .videoNews .infoArea .categ {margin-bottom:4px;font-size:13px;color:#4286ea;font-weight:400;}
.mImgNotice .videoNews .infoArea .tit {overflow:hidden;font-size:22px;text-overflow:ellipsis;white-space:pre;letter-spacing:-0.7px;font-weight:500}
.mImgNotice .videoNews .item>a:hover .tit {text-decoration:underline;}
.mImgNotice .videoNews .slick-arrow {position:absolute;right:135px;top:-48px;;width:10px;height:18px;background: url(../img/layout/layout_sprite.png) no-repeat -468px -281px;font-size:1px;text-indent:-9999px;overflow:hidden;;}
.mImgNotice .videoNews .slick-arrow.slick-prev {right:185px;background-position:-468px -243px;}
.mImgNotice .videoNews .controller {position:absolute;right:136px;top:7px;}
.mImgNotice .videoNews .controller>.btn_play {display:block;width:8px;height:11px;background: url(../img/layout/layout_sprite.png) no-repeat -499px -247px;}
.mImgNotice .videoNews .controller>.btn_play.stop {background-position:-499px -279px;}
.mImgNotice .videoNews .controller>button>span {position: absolute;top: 0;left: 0;width: 1px;height: 1px;margin: 1px;border: none;overflow: hidden;clip: rect(0, 0, 0, 0);}



/*공지사항영역*/
.mAlertNNotice{padding:40px 0;background:#f8f8f8;}
.mAlertNNotice .innerCont{font-size:0;}
.mAlertNNotice .mTit{margin-bottom:13px;font-size:24px;background-position:right 0 top 1px;}
.mAlertNNotice .linkArea{float:right;margin-top:-8px;}
.mAlertNNotice .linkArea .arrLink>span {height:35px;line-height:35px;}
.mAlertNNotice .alertArea{display:inline-block;width:610px;padding-right:10px;box-sizing:border-box;vertical-align:top;}
.mAlertNNotice .alertArea .linkArea{margin-right:10px;}
.mAlertNNotice .alertIcon{font-size:0;}
.mAlertNNotice .alertIcon li{display:inline-block;width:33.333%;vertical-align:top;}
.mAlertNNotice .alertIcon li>a{display:block;font-size:0;}
.mAlertNNotice .alertIcon li>a strong{display:inline-block;font-size:16px;color:#0f0f0f;line-height:65px;vertical-align:top;font-weight:500;}
.mAlertNNotice .alertIcon li>a .ico {display:inline-block;width:65px;height:65px;margin-right:15px;border-radius:50%;background: linear-gradient(180deg, rgba(66,134,234,1) 0%, rgba(131,102,208,1) 100%);box-sizing:border-box;vertical-align:top;}
.mAlertNNotice .alertIcon li>a .ico img {display:block;width:35px;height:35px;margin:17px auto 0 auto;}
.mAlertNNotice .alertIcon li:nth-child(2)>a .ico img {padding-left:5px;}

.mAlertNNotice .notice{position:relative;display:inline-block;width:calc(100% - 610px);vertical-align:top;padding-left:75px;box-sizing:border-box;}
.mAlertNNotice .notice::before{content:"";position:absolute;left:0;top:0;display:block;width:1px;height:100%;background-color:#dfdfdf;}
.mAlertNNotice .noticeList{margin-top:12px;}
.mAlertNNotice .noticeList>li{position:relative;width:100%;margin-bottom:16px;}
.mAlertNNotice .noticeList>li:last-of-type{margin-bottom:0px;}
.mAlertNNotice .noticeList>li a{display:block;padding-right:120px;font-size:0;}
.mAlertNNotice .noticeList>li .tit{display:inline-block;max-width:calc(100% - 30px);font-size:16px;font-weight:normal;line-height:1em;color:#0f0f0f;letter-spacing:-0.5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:500;}
.mAlertNNotice .noticeList>li .tit:hover {text-decoration:underline;}
.mAlertNNotice .noticeList>li .day{position:absolute;right:0;top:2px;width:80px;font-size:15px;color:#666666;line-height:1em;letter-spacing:-0.5px;text-align:right;}
.mAlertNNotice .noticeList>li .ico_new{display:inline-block;vertical-align:1px;margin-left:5px;}
.mAlertNNotice .noticeList>li .fileView {position:absolute;right:85px;top:0px;width:11px;height:19px;z-index:10}
.mAlertNNotice .noticeList>li .fileView:before {content:'';position:absolute;right:0;top:0;display:block;width:11px;height:19px;background: url(../img/layout/layout_sprite.png) no-repeat -468px -50px;}
.mAlertNNotice .noticeList>li .fileView span {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}

.mAlertNNotice .noticeList .noArticle {margin-top:-40px;}
.mAlertNNotice .noticeList .noArticle .no_article {padding-top:85px;padding-bottom:0;background-image:url(../img/main/ico_noArticle_white.png);background-position:left 50% top 0;}

.mb_menuSlide {display:none;}

@media all and (max-width:1700px){
    .mVisual .mNewsList {padding-left:10px;box-sizing:border-box;}
}

@media all and (max-width:1530px){
    /* Main */
    .mVisual .mVisualSlider {margin-left:15px;margin-right:24px;}
    .mVisual .mNewsList {width:calc(100% - 753px)}
}


@media all and (max-width:1300px){
    /* Main */
    .mVisual .mVisualSlider {width:550px;height:430px}
    .mVisual .mVisualSlider .unit {width:550px;height:430px;background-size:550px 100%;}
    .mVisual .mNewsList {width:calc(100% - 591px);height:auto;}
    .mVisual .mNewsList .list {height:100px;}
    .mVisual .mNewsList .list>a {padding:8px 40px 10px 140px;}
    .mVisual .mNewsList .list>a .tit {font-size:20px;}
    .mVisual .mNewsList .list+.list {margin-top:10px;}
    .mVisual .mNewsList .list .imgArea {width:110px;height:70px;top:12px;}
    .mVisual .mNewsList .list>a .txt {margin-top:3px;}

    /* 영상뉴스 & 심층보고서 */
    .mImgNotice .videoNews {width:calc(100% - 491px);margin-right:24px;}

    /* 인기뉴스 & 국가정보 */
    .mPopularNews {width:calc(100% - 374px)}
    .mPopularNews {margin-right:24px;}
    .mPopularNews .listArea {width:calc(50% - 15px)}
    .mPopularNews .listArea:first-child {margin-right:30px;}
    .mPopularNews .listArea>a {padding-right:100px;}

    .mNationInfo {width:350px;}
    .mNationInfo .mNationRanKing .item>a {padding-left:100px;padding-top:30px;}
    .mNationInfo .mNationRanKing .item>a .sub {display:block;margin-left:0;margin-top:5px;}
}

@media all and (max-width:1240px){
    /*금주의 국가정보*/
    .mImgNotice .videoNews {width:calc(100% - 490px);margin-right:30px;}
}

@media all and (max-width:1041px){
     /* 메인 팝업존 */
     .mPopZone {position:absolute;left:0;top:100px;padding:0 20px;text-align:center;;}
     .mPopZone .pop_admin {position:relative !important;left:auto !important;top:auto !important;right:auto !important;left:auto !important;bottom:auto !important;width:100% !important;max-width:700px;}
     .mPopZone .pop_admin+.pop_admin {margin-top:20px;}
     .mPopZone .pop_ct {width:100% !important;height:auto !important;margin:0 auto;padding:10px;}
     .mPopZone .pop_ct img {width:100%;}
     .mPopZone .closedArea {width:100%;height:35px;max-width:700px;}
     .mPopZone .pop_tit {padding:7px 15px;min-height:40px;font-size:16px;line-height:20px;}
 
    /* .typeMain.typeTopNotice #container {padding-top:94px;} */
    .typeMain.typeTopNotice .mb_menuSlide {top:120px}

    .mTit.link {padding-right:16px;background-size:8px auto;background-position:right 0 top 3px;}



    .mb_menuSlide {position:fixed;width:100%;top:65px;left:0;display:block;margin-top:0px;padding:0 20px 16px 20px;border-bottom:1px solid #e0e3e6;background:#fff;z-index:999;}
    .mb_menuSlide .slide {box-sizing:border-box;}
    .mb_menuSlide .slide li {display:inline-block;padding:0 25px 0 0;box-sizing:border-box;}
    .mb_menuSlide .slide li:first-child {padding-left:0;}
    .mb_menuSlide .slide li:last-child {padding-right:0;}
    .mb_menuSlide .slide li a {display:block;font-size:17px;font-weight:700;letter-spacing:-0.5px;}

    /* Main */
    .mTit{font-size:21px;}
    /* .arrLink>span{font-size:15px;background-size:6px auto;} */
    .linkArea {margin-top:-10px;}
    .arrLink>span {width:75px;height:30px;line-height:30px;font-size:13px;}
    
    .mVisual{margin-top:20px;margin-bottom:0px;}
    .mVisual .mTit{display:block;}
    .mVisual .newsSwitch{margin:15px 0 0 0;}
    .mVisual .mNewsBtnArea .multiOpt{position:relative;margin-top:-20px;z-index:1;text-align:right;}
    .mVisual .mNewsBtnArea .multiOpt .viewSwitch{display:block;height:38px;}
    .mVisual .mNewsBtnArea .multiOpt .viewSwitch>button{margin-top:10px;}
    .mVisual .mNewsBtnArea .multiOpt .linkArea{margin:0 0 15px 0;}
    .mVisualSlider .slick-arrow {display:none !important;}

    .mVisualSlider .notiArea>.link .txtInfo .tit{font-size:25px !important;line-height:30px !important;height:60px !important;}
    .mVisualSlider .notiArea>.link .txtInfo .tags{margin-top:20px;}

    .mVisual .innerCont .sliderWrap {display:block;margin-bottom:30px;}
    .mVisual .mVisualSlider {display:block;width:708px;height:552px;margin:0 auto 0 auto;}
    .mVisual .mVisualSlider .unit {width:708px;height:552px;background-size:cover;}
    .mVisual .mVisualSlider .slick-dots {display:block;bottom:-30px;}
    .mVisual .mNewsList {width:100%;padding-left:0;}
    .mVisual .mNewsList .list {height:97px;}
    .mVisual .mNewsList .list>a {padding-left:135px;padding-top:12px;}
    .mVisual .mNewsList .list>a .tit {font-size:19px;}
    .mVisual .mNewsList .list>a .txt {margin-top:4px;font-size:14px;}
    .mVisual .mNewsList .list .imgArea {width:100px;height:68px;}
    .mVisual .sliderWrap .PageIndex {width:100%;margin-top:30px;}
    
    /*썸네일 형*/
    .mVisualSlider .notiArea.fullView{max-width:500px;}
    .mVisualSlider .notiArea.fullView>.thumbnail{height:400px;}
    .mVisualSlider .notiArea.fullView>.link.thumbnail .imgArea{height:223px;}

    .mVisualSlider .notiArea.subView>.thumbnail,
    .mVisualSlider .notiArea.subView>.bg{height:191px;}
    .mVisualSlider .notiArea.subView>a:nth-of-type(n+2){margin-top:18px;}

    
    .mVisualSlider .notiArea.subView>.thumbnail .txtInfo{position:relative;z-index:1;}
    .mVisualSlider .notiArea.subView>.thumbnail .txtInfo .cag{color:#fff;}
    .mVisualSlider .notiArea.subView>.thumbnail .txtInfo .tit{color:#fff;}
    .mVisualSlider .notiArea.subView>.thumbnail .txtInfo .tags>span{color:#fff;}
    .mVisualSlider .notiArea.subView>.thumbnail .imgArea{position:absolute;width:100%;height:100%;left:0;top:0;z-index:0;background-position:center center;background-size:cover;}
    .mVisualSlider .notiArea.subView>.link .txtInfo{height:auto;}
    .mVisualSlider .notiArea.subView>.link .txtInfo .tags{margin-top:33px;}

    /*리스트형*/
    .mVisualSlider .mNewsSlider.list .notiArea.subView>.link,
    .mVisualSlider .mNewsSlider.list .notiArea.fullView>.thumbnail.sub,
    .mVisualSlider .mNewsSlider.list .notiArea.fullView>.thumbnail{height:auto;min-height:120px;border-radius:3px;padding-right:100px;}
    .mVisualSlider .mNewsSlider.list .notiArea.subView>.link{padding-right:0px;}
    .mVisualSlider .mNewsSlider.list .notiArea>.link::before{border-radius:3px;}
    .mVisualSlider .mNewsSlider.list .notiArea.fullView>a:nth-of-type(n+2){margin-top:18px;}
    .mVisualSlider .mNewsSlider.list .notiArea.fullView>.link .txtInfo .tit{max-height:none;margin-bottom:10px;}
    .mVisualSlider .mNewsSlider.list .notiArea.fullView>.link .txtInfo .subTxt{display:none !important;}
    .mVisualSlider .mNewsSlider.list .notiArea{margin-right:18px;}
    .mVisualSlider .mNewsSlider.list .notiArea>.link .txtInfo{padding:15px;}
    .mVisualSlider .mNewsSlider.list .notiArea>.link .txtInfo .tit{font-size:16px !important;line-height:23px !important;height:45px !important;margin-bottom:10px;}
    .mVisualSlider .mNewsSlider.list .notiArea>.link .txtInfo .cag{margin-bottom:10px;}
    .mVisualSlider .mNewsSlider.list .notiArea>.link .txtInfo .tags,
    .mVisualSlider .mNewsSlider.list .notiArea.subView>.link .txtInfo .tags{margin-top:0px;}    
    .mVisualSlider .mNewsSlider.list .notiArea.fullView>.link.thumbnail .imgArea{width:95px;height:95px;top:12px;right:10px;border-radius:3px;}

    /* 영상뉴스 & 심층보고서 */
    .mImgNotice {margin-bottom:45px;background:#fff;}
    .mImgNotice .innerCont {padding-top:0;padding-left:0;;padding-right:0;padding-bottom:0;margin-bottom:0;margin-top:40px;}
    .mImgNotice .videoNews {width:100%;padding:30px 20px;margin-right:0;box-sizing:border-box;background:#f2f2f2;}
    .mImgNotice .reportArea {margin-top:30px;width:100%;padding-left:20px;padding-right:20px;margin-right:0;box-sizing:border-box;}
    .mImgNotice .videoNews .infoArea .tit {font-size:19px;}
    .mImgNotice .reportList .item {width:calc(50% - 10px);}
    .mImgNotice .reportList .item .tit {height:auto;max-height:52px;font-size:19px;}

    .mImgNotice .reportList .item .topImg>img {position:inherit;transform:none;top:0;left:0;margin:0 auto;width:auto !important;height:auto !important;}
    .mImgNotice .reportList .item .topImg {height:100%;}
    .mImgNotice .reportList .item .topImg .downArea {display:none;}
    .mImgNotice .reportList .item .topImg .downArea::before {display:none;}

    .mImgNotice .reportList .item {vertical-align:top;}

    .mImgNotice .reportArea .controller {top:0;right:46px;}
    .mImgNotice .videoNews .controller {top:30px;right:156px;}

    /*북마트, 인기검색어*/
    .mEtc{margin-bottom:30px;}
    .mEtc .innerCont>div{width:calc(100% + 40px);height:55px;margin-left:-20px;}
    .mEtc .innerCont>div.bookMark::before{display:none;}
    .mEtc .innerCont>div.searchWord::before{display:none;}
    .mEtc .innerCont .tit{font-size:15px;left:20px !important;top:22px !important;}
    .mEtc .innerCont>div.bookMark{padding:0 20px 0 70px;}
    .mEtc .innerCont>div.bookMark .mEtcSlider{margin-top:13px;}
    .mEtc .innerCont>div.bookMark .mEtcSlider .item .name{height:32px;padding:0 10px;line-height:32px;}

    .mEtc .innerCont>div.searchWord{padding:0 20px 0 110px;}
    .mEtc .innerCont>div.searchWord .ranKing{margin-top:19px;}
    .mEtc .innerCont>div.searchWord .ranKing .item .name{margin-right:30px;}

    /*이미지 배너 영역*/
    .mBannerImgArea{margin-bottom:45px;}
    .mBannerImgArea .banner {max-height:100%;}
    .mBannerImgArea .banner .noBanner {background-size:auto 50px;}
    .mBannerImgArea .PageIndex {padding:0 20px;}
    .mBannerImgArea .slick-dots>li+li {margin-left:10px;}
    
    /*인기뉴스 & 금주의 국가 정보*/
    .mNewsNNation {margin-bottom:30px;}

    .mPopularNews {width:100%;margin-right:0;}
    .mPopularNews .listWrap {margin-top:2px;}
    .mPopularNews .listArea>a {height:81px;padding:18px 110px 7px 20px;}
    .mPopularNews .listArea>a .num {font-size:20px}
    .mPopularNews .listArea>a .tit {height:37px;font-size:15px;line-height:18px;}

    .mNationInfo {width:100%;margin-top:30px;}
    .mNationInfo .mNationRanKing {padding:15px 0;margin-top:15px;}
    .mNationInfo .mNationRanKing .item {height:50px;}
    .mNationInfo .mNationRanKing .item>a>img {left:25px;top:10px;width:30px;height:30px;}
    .mNationInfo .mNationRanKing .item:nth-of-type(n+2)::before {display:none;}
    .mNationInfo .mNationRanKing .item>a {padding-left:80px;padding-top:15px;background-size:8px auto;background-position:top 50% right 25px;}
    .mNationInfo .mNationRanKing .item>a .tit {font-size:20px;}
    .mNationInfo .mNationRanKing .item>a .sub {display:inline-block;margin-left:2px;font-size:14px;}


    /* 알림마당 & 해시공지 */
    .mAlertNNotice {padding-top:25px;padding-bottom:25px;}
    .mAlertNNotice .alertArea {width:100%;padding-bottom:30px;margin-bottom:40px;padding-right:0;border-bottom:1px solid #d1d1d1;}
    .mAlertNNotice .alertArea .linkArea {margin-right:0;}
    .mAlertNNotice .alertIcon li>a {text-align:center;}
    .mAlertNNotice .notice {width:100%;padding-left:0;}
    .mAlertNNotice .notice::before {display:none;}
    .mAlertNNotice .noticeList {margin-top:0;}
    .mAlertNNotice .mTit {margin-bottom:20px;}
    .mAlertNNotice .mTit.link {padding-right:16px;background-size:8px auto;background-position:right 0 top 3px;font-size:19px;}

    .mAlertNNotice .noticeList>li {margin-bottom:10px;}
    .mAlertNNotice .noticeList>li .tit {max-width:calc(100% - 22px);font-size:15px;}
    .mAlertNNotice .noticeList .noArticle .no_article {padding:95px 0 33px;background-position:left 50% top 30px;}
    .mAlertNNotice .noticeList>li .day {font-size:14px;}
    .mAlertNNotice .noticeList>li .ico_new {width:14px;height:14px;margin-left:7px;}
    .mAlertNNotice .noticeList>li .fileView {top:0px;right:80px;background-size:9px auto;}
}
@media all and (max-width:850px){
    .mBannerImgArea .banner{width:100%; margin:0;}
    .mBannerImgArea .banner>a>img{width:100%;}
    .mBannerImgArea .slick-list {margin:0;}

    .mPlus{background-size:15px 15px;}

    .mAlertNNotice .alertArea{width:100%;margin-bottom:35px;}
    .mAlertNNotice .alertIcon{text-align:center;}
}

@media all and (max-width:768px){
    /* 메인 팝업존 */
    .mPopZone {padding:0 15px;}
    .mPopZone .closedArea .inp_c {top:3px;}
    .mPopZone .closedArea .closedBtn {right:10px;}
    
    .mb_menuSlide .slide li {padding-right:20px;}
    .mb_menuSlide .slide li a {font-size:16px;}

    .linkArea {margin-top:-5px;}
    .arrLink>span {width:70px;height:32px;line-height:32px;font-size:13px;}

    /* Main */
    .mVisual .mVisualSlider {width:100%;height:auto;}
    .mVisual .mVisualSlider .unit {width:auto;height:auto;}
    .mVisual {margin-bottom:30px;}
    .mVisual .mNewsList .list {height:auto;min-height:95px;}
    .mVisual .mNewsList .list>a {padding-left:130px;}
    .mVisual .mNewsList .list>a .tit {display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height:auto;max-height:48px;line-height:22px;white-space:normal;font-size:17px;font-weight:500;}
    .mVisual .mNewsList .list>a .txt {margin-top:5px;font-size:13px;height:32px;line-height:16px;}
    .mVisual .mNewsList .list+.list {margin-top:12px;}

    /* 영상뉴스 & 심층보고서 */
    .mImgNotice {margin-bottom:40px;}
    .mImgNotice .innerCont {padding-top:0;padding-bottom:0px;margin-top:0;}
    .mImgNotice .videoNews {padding-bottom:30px;}
    .mImgNotice .videoNews .videoNewsList {margin-top:15px;}
    .mImgNotice .videoNews .item {width:100%;}
    .mImgNotice .videoNews .item:first-child {margin-top:0;margin-bottom:25px;}
    .mImgNotice .videoNews .topImg {height:auto;}
    .mImgNotice .videoNews .topImg img {position:inherit;left:0;top:0;transform:none;width:100%;height:100%;}
    .mImgNotice .videoNews .topImg:after {width:45px;height:45px;background-size:10px auto;background-position:top 50% left 19px;}
    .mImgNotice .videoNews .infoArea .categ {font-size:12px;}
    .mImgNotice .videoNews .infoArea .tit {font-size:16px;}

    .mImgNotice .reportArea {width:100%;margin:25px auto 0 auto;}
    .mImgNotice .reportList{margin-top:15px;}
    .mImgNotice .reportList .item{width:calc(50% - 6px);margin-right:12px;}
    .mImgNotice .reportList .item .tit{height:auto;max-height:48px;font-size:16px;margin-top:12px;line-height:22px;}

    .mImgNotice .videoNews .slick-arrow {right:105px;top:-37px;}
    .mImgNotice .videoNews .slick-arrow.slick-prev {right:155px;}
    .mImgNotice .videoNews .controller {top:32px;right:126px;}

    /* .mImgNotice .secondNews{width:100%;margin:40px 0 0 0px;}
    .mImgNotice .secondNews .mTit{margin-left:0px;}
    .mImgNotice .secondNews .linkArea{margin-right:0px;}

    .mImgNotice .secondNewsSlider{margin-top:15px;}    
    .mImgNotice .secondNewsSlider .item{width:310px;height:180px;margin:0 15px 0 0;border-radius:5px;}
    .mImgNotice .secondNewsSlider .item a::before{width:34px;height:34px;background-size:100% auto;top:calc(50% - 17px);left:calc(50% - 17px);}
    .mImgNotice .secondNewsSlider .item a .tit{font-size:16px;padding:0 15px;bottom:37px;}
    .mImgNotice .secondNewsSlider .item a .tags{padding:0 15px;bottom:12px;} */

    .mImgNotice .reportArea .controller {top:5px;}
    .mImgNotice .reportList .slick-arrow {top:-34px;} 

    /* 인기뉴스 & 국가정보 */
    .mPopularNews .listArea {width:100%;}
    .mPopularNews .listArea:first-child {margin-right:0;}
    .mPopularNews .listArea+.listArea {border-top:1px solid #d9d9d9;}

    .mPopularNews .listArea>a {padding:14px 110px 7px 17px}
    .mPopularNews .listArea>a .num {top:12px;font-size:16px;}
    .mPopularNews .listArea>a .tit {font-size:14px;}

    .mNationInfo .mNationRanKing .item>a {padding-left:70px;padding-right:35px;background-position:top 50% right 20px;}
    .mNationInfo .mNationRanKing .item>a:before {right:20px;width:9px;height:14px;margin-top:-7px;background-size:350px auto;background-position:-316px -59px;}
    .mNationInfo .mNationRanKing .item>a .tit {font-size:18px;}
    .mNationInfo .mNationRanKing .item>a .sub {font-size:13px;}

    /* 알림마당 & 해시공지 */
    .mAlertNNotice .notice {padding-top:0;}
    .mAlertNNotice .alertArea {padding-right:0;padding-bottom:20px;margin-bottom:30px;}
    .mAlertNNotice .noticeList>li a {padding-right:100px;}
    .mAlertNNotice .alertIcon li>a .ico {width:55px;height:55px;margin-right:0;}
    .mAlertNNotice .alertIcon li>a strong {display:block;margin-top:10px;font-size:15px;line-height:20px;}
    .mAlertNNotice .alertIcon li>a .ico img {width:28px;height:auto;margin-top:16px;}
    .mAlertNNotice .noticeList>li .day {font-size:14px;}
    .mAlertNNotice .noticeList>li .tit {font-size:14px;}
    
    .mBannerImgArea .PageIndex {margin-top:15px;}
    .mBannerImgArea .slick-dots>li button {width:6px;height:6px;}
    .mBannerImgArea .slick-dots>li+li {margin-left:10px;}
}

@media all and (max-width:560px){
    /* 팝업존 */
    .mPopZone {top:115px;}
    
    .mb_menuSlide {padding-left:15px;padding-right:15px;}

    .innerCont{padding-left:15px;padding-right:15px;}

    .typeMain.typeTopNotice .mb_menuSlide {top:150px;}
}
