/*-------------------------------------------------
Author : jwshin
Create date : 2023-01-19
Version : v1.0
-------------------------------------------------*/
/*Animation Style*/
.move-bottom {    
    -webkit-animation: move-bottom 3s ease-in-out infinite both;
	        animation: move-bottom 3s ease-in-out infinite both;
}
@-webkit-keyframes move-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
      }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes move-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
      }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

.move-left {    
    -webkit-animation: move-left 3s ease-in-out infinite both;
	        animation: move-left 3s ease-in-out infinite both;
}
@-webkit-keyframes move-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
      }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes move-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
      }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

.move-right {    
    -webkit-animation: move-right 3s ease-in-out infinite both;
	        animation: move-right 3s ease-in-out infinite both;
}
@-webkit-keyframes move-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
      }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes move-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
      }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

.move-right-s {    
    -webkit-animation: move-right-s 3s ease-in-out infinite both;
	        animation: move-right-s 3s ease-in-out infinite both;
}
  @keyframes move-right-s {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(4px);
                transform: translateX(4px);
      }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @-webkit-keyframes move-right-s {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(4px);
                transform: translateX(4px);
      }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
  .family-list::before {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
}

@keyframes rotate360 {
  100% {
      transform: rotate(360deg);
  }
}