/*-------------------------------------------------
Author : jwshin
Create date : 2023-03-02
Version : v1.0
-------------------------------------------------
Version : v2.0	date : 2023-03-31
-------------------------------------------------*/
/* 서브페이지 스타일 - 영문 */
/* 헤더 스타일 */

/* 서브 컨텐츠 스타일 */
.c-tabbox .c-anchor .anchor-list li {max-width: 240px; word-break: break-word;}
.c-main-wrap .box-diagram-h {width: 100%; padding: 40px; margin-bottom: 40px; display: flex; justify-content: center; align-items: center;}
.c-main-wrap .box-diagram-h .diagram {display: flex; justify-content: space-between;}
.c-main-wrap .box-diagram-h .diagram .d-head {position: relative; height: fit-content; padding: 10px 12px; background: var(--main-color1); color: #fff; font-weight: 600; font-size: 2rem; margin-right: 48px;}
.c-main-wrap .box-diagram-h .diagram .d-head::after {content: ""; display: block; position: absolute; top: 50%; right: -24px; width: 24px; height: 2px; background-color: #d9d9d9;}
.c-main-wrap .box-diagram-h .diagram .d-item {position: relative; display: flex; flex-direction: column; justify-content: space-between; align-items: stretch;}
.c-main-wrap .box-diagram-h .diagram .d-item::after {content: ""; display: block; position: absolute; top: 23px; left: -24px; height: calc(100% - 59px); width: 2px; background-color: #d9d9d9;}
.c-main-wrap .box-diagram-h .diagram .d-item li {position: relative; padding: 10px 12px; background: var(--main-color4); font-weight: 600; font-size: 2rem; margin-bottom: 16px;}
.c-main-wrap .box-diagram-h .diagram .d-item li:last-child {margin-bottom: none;}
.c-main-wrap .box-diagram-h .diagram .d-item li:before {content: ""; display: block; position: absolute; top: 50%; left: -24px; width: 24px; height: 2px; background-color: #d9d9d9;}

/* 서브 컨텐츠 탭영역 스타일 */
.c-main-wrap .d-tabs .d-tab.nontarget li a {cursor: inherit;}
/* 서브 컨텐츠 탭영역 게시판 스타일 */

/* 서브 컨텐츠 게시판 상세페이지 스타일 */
.board-view .board-file .file-title {min-width: 148px;}
/* 서브 컨텐츠 스타일 - 연구소소개 */
.c-main-wrap .history-box .history-item .history-info strong {width: 94px;}
.history {flex-direction: column-reverse; align-items: center;}
.history .col-md-6 {width: fit-content;}
.c-main-wrap .history-bg {margin-bottom: 40px; margin-right: 0; height: fit-content;}
/* 서브 컨텐츠 스타일 - 소장소개 */
.director-wrap {background: #F3F8EF;}
/* 서브 컨텐츠 스타일 - 비전미션 */
.ms4-wrap {margin: 80px 0;}
.msvs-header {height: 280px;}
.msvs-header p:nth-child(2) {font-size: 3rem;}
.msvs-header p:nth-child(3) {font-size: 3.4rem; text-align: center;}
.ms10-wrap .ms10-item .ms10-txt div {margin-top: 24px !important;}
/* 서브 컨텐츠 스타일 - 조직안내 */
.o1-item>h5 {width: 40%;}
.o1-item::after {height: 220px;}
/* .org-diagram p {display: flex; align-items: center; justify-content: center; line-height: inherit !important; height: 92px;} */
.org-diagram h5, .org-diagram h6 {align-items: center; line-height: unset; justify-content: center; display: flex;}
.o3-item h6::after {top: -40px; height: 42px;}
.org-diagram .o2-item {padding: 24px 0;}
.board-dropdown {font-size: 1.6rem !important;}
.board-dropdown ul li a {padding-right: 16px; height: auto !important;}
.board-dropdown ul li {display: flex; align-items: center; word-break: break-word !important; line-height: inherit !important;}
/* 서브 컨텐츠 스타일 - MI소개 */

/* 서브 컨텐츠 스타일 - 오시는길 */

/* 서브 컨텐츠 스타일 - 연구자원지원 */

/* 서브 컨텐츠 스타일 - 연구성과 */
.list-dropdown {width: 260px}
.thsis-info li {padding-left: 8rem; text-indent: -8rem}
/* 서브 컨텐츠 스타일 - 위원회협의체 */

/* 서브 컨텐츠 스타일 - 연구협력 */

/* 서브 컨텐츠 스타일 - 공지사항 */

/* 서브 컨텐츠 스타일 - 뉴스 */

/* 서브 컨텐츠 스타일 - 홍보자료 */
