@media (max-width: 1279px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1279px) and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1279px) {
  .krds-table-wrap {
    width: 100%;
    overflow-x: auto;
  }
  .krds-table-wrap::-webkit-scrollbar {
    height: 3px;
  }
  .krds-table-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  .krds-table-wrap::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .krds-table-wrap::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }
}
@media (max-width: 1279px) {
  .sidebar {
    display: none;
  }
  #quickmenu-container {
    display: none;
  }
  .scroll-to-top {
    display: none !important;
  }
  .footer {
    position: relative;
  }
  .footer .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer .footer-content {
    gap: 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
  }
  .footer .footer-content .grid-row {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #475a67;
  }
  .footer .footer-content .grid-row .footer-info {
    margin-top: 0;
  }
  .footer .footer-content .grid-row .footer-info address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 1279px) and (max-width: 767px) {
  .footer .footer-content .grid-row .footer-info address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
    margin: 20px 0;
  }
  .footer .footer-content .grid-row .footer-info address p {
    margin-bottom: 0;
  }
}
@media (max-width: 1279px) {
  .footer .footer-content .grid-right {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 1279px) and (max-width: 767px) {
  .footer .footer-content .grid-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
}
@media (max-width: 1279px) {
  .footer .footer-content .footer-contact {
    width: 50%;
    margin-top: 0;
    max-width: none;
  }
  .footer .footer-content .footer-contact a {
    margin-bottom: 20px;
  }
  .footer .footer-content .footer-contact .tel-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1279px) and (max-width: 1023px) {
  .footer .footer-content .footer-contact {
    width: 100%;
  }
}
@media (max-width: 1279px) {
  .footer .footer-content .footer-icon .certi {
    display: none;
  }
  .section-institution .institution-links.container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1279px) and (max-width: 767px) {
  .section-institution .institution-links.container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-institution .institution-carousel-wrapper .institution-nav {
    gap: 8px;
  }
  .section-institution .institution-carousel-wrapper .institution-nav .institution-nav-btn {
    width: 36px;
    height: 36px;
    font-size: 18px;
  }
}/*# sourceMappingURL=responsive.css.map */