@charset "utf-8";
.g-colorbox {
    padding: 32px;
    color: #17191B;

    &.bg-yellow {
        background-color: #FFF6DE;
    }
    &.bg-red {
        background-color: #FFEEE9;
    }
    &.bg-blue {
        background-color: #EDF4FF;
    }
    &.bg-skyblue {
        background-color: #DEF9FE;
    }
    &.text-left {
        text-align: left;
    }
    &.text-right {
        text-align: right;
    }
    .shadow-tit {
        margin-bottom: 13px;
        font-size: 2.4rem;
        font-weight: 700;
    }
    .ptext {
        line-height: 1.5;
        font-size: 1.9rem;
    }
}
@media (max-width: 768px) {
    .g-colorbox {
        padding: 16px;
    }
}

.br24 {
    border-radius: 24px;
}
.terms-sucess li {
    background: url(../img/icons/system-success.svg) left top no-repeat;
    background-size: 24px;
    padding-left: 30px;
    font-size: 1.9rem;
    vertical-align: middle;
}
.terms-sucess li + li {
    margin-top: 12px;
}

/* 들여쓰기 처리 */
.indent-flex {
    display: flex;
    gap:3px;
}
/* 나에게 맞는 채무조정찾기 결과 */
.page-description.bgBlue p.fs_24 {
    font-size: 2.4rem;
}
.result-card-container {
    max-width: 100%;
    width: 100%;
    margin-top: 6px;
}
.result-card-inner-wrapper {
    width: 100%;
    padding: 30px 50px;
    border-radius: 16px;
    border: 1px solid #D2D6DA;
}
.result-card-inner-wrapper + .result-card-inner-wrapper {
    margin-top: 3.7rem;
}
.top_line {
    margin-top: 3rem;
    padding: 2.4rem 1.5rem 0;
    border-top: 1px solid #D2D6DA;
}
.top_line .orange-info {
    font-size: 2rem;
    margin-top: 0;
    line-height: 1.6;
    background-position: left top 5px;
    background-size: 20px;
}
.txtline {
    text-decoration: underline;
}
.result-card-inner-wrapper .result-main-title {
    font-size: 4rem;
    font-weight: 700;
    padding: 6px 0;
    line-height: 1.1;
}
.result-card-inner-wrapper .result-sub-title {
    font-size: 2.7rem;
    font-weight: 700;
}
.result-card-inner-wrapper .result-sub-title span.colorblue {
    color: #2E2A93;
}
.result-card-inner-wrapper .result-text {
    margin-top: 2.4rem;
    font-size: 2rem;
}
.result-card-inner-wrapper .result-title-section .btn-place {
    margin-top: 2.4rem;
    font-size: 1.7rem;
}
.result-card-inner-wrapper .result-title-section .krds-info-list li {
    margin-top: 2.4rem;
    font-size: 2rem;
    padding-left: 2.4rem;
    line-height: 1.5;
}
.result-card-inner-wrapper .result-title-section .krds-info-list li .fs_17 {
    margin-top: 8px;
}
.result-card-inner-wrapper .result-title-section .krds-info-list li>ul.dash>li {
    margin-top: 8px;
    font-size: 1.7rem;
}
.result-card-inner-wrapper .result-title-section .roundcheck .krds-info-list.decimal > li::before {
    width: 20px;
    height: 20px;
    background-size: 20px;
}
.result-card-inner-wrapper .stats-section {
    margin-top: 3rem;
}
.result-card-inner-wrapper .stats-section .feetxt {
    font-size: 2.6rem;
    font-weight: 700;
}
.result-card-inner-wrapper .stats-section .results-content-wrapper {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    background: #FFFAED;
    padding: 20px 30px;
    border-radius: 24px;
}
.qr-section {
    margin-top: 24px;
    border-radius: 24px;
    padding: 14px 22px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.qr-section .qr-txt {
    color: #2E2A93;
    font-size: 1.9rem;
    text-align: center;
    font-weight: 700;
}
.qr-section .qr-txt span {
    display: block;
    color: #2E2A93;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 400;
}
.qr-areas {
    margin: 15px auto;
    display: flex;
    gap: 50px;
}
.qr-areas .qr-boxlink {
    display: flex;
    gap: 10px
}
.qr-areas .qr-boxlink .g-img-qr {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}
.qr-areas .qr-boxlink .g-img-qr img {
    width: 100%;
    height: 100%;
}
.qr-areas .qr-boxlink .qr-linker {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 700;
}
.qr-areas .qr-boxlink .qr-linker p {
    font-size: 1.7rem;
    font-weight: 700;
}
.qr-areas .qr-boxlink .qr-linker .qr-a {
    padding: 6px 34px 6px 14px;
    background: #2E2A93 url(/type/www/img/contents/png/plan/icon_qr-a.svg) center right 14px no-repeat;
    color: #fff;
    font-size: 15px;
    border-radius: 1000px;
}
.result-card-inner-wrapper .stats-sub-section {
    margin-top: 1.6rem;
    border-radius: 2.4rem;
    padding: 1.6rem 0;
    background: #F6FAFF;
}
.result-card-inner-wrapper .flex-3box {
    display: flex;
    gap: 16px;
}
.result-card-inner-wrapper .flex-3box .stats-sub-section {
    display: flex;
    min-width: 288px;
    max-width: 100%;
    justify-content: center;
    flex: 1;
}
.result-card-inner-wrapper .stats-sub-section .graph-wrap {
    max-width: 280px;
    margin: 0 auto;
    min-height: 409px;
}
.result-card-inner-wrapper .stats-sub-section .graph-wrap .top_line {
    margin-top: 10px;
}
.result-card-inner-wrapper .stats-sub-section .graph-wrap .graph-img {
    position: relative;
    padding: 0;
    flex-shrink: 0;
    width: 280px;
    margin:0 auto;
}
.result-card-inner-wrapper .stats-sub-section .graph-wrap .graph-img .graph-tit {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}
.result-card-inner-wrapper .stats-sub-section .graph-wrap .graph-img .graph-tit span {
    font-size: 17px;
    font-weight: 700;
    color: #6D7882;
}
.results-content-wrapper .graph-wrap {
    position: relative;
    padding: 0;
    flex-shrink: 0;
}

.results-content-wrapper .graph-wrap.zoom {
    width: 374px;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    border-radius: 24px;
}

.results-content-wrapper .graph-img {
    position: relative;
}

.results-content-wrapper .graph-img .graph-tit {
    position: absolute;
    top: 23px;
    left: 33px;
    font-size: 1.9rem;
    color: #17191B;
    font-weight: 700;
}

/* .results-content-wrapper .graph-img:not(.nofilter):hover img {
    filter: grayscale(1);
} */
.graph-wrap .manwon {
    position: absolute;
    font-size: 1.5rem;
    top: 127px;
    right: 200px;
    height: 2.4rem;
    padding: 0;
    background-color: transparent;
    border-radius: 20px;
    color: #ED7801;
    text-align: right;
    font-weight: 700;
    letter-spacing: 0;
}
.stats-sub-section .graph-wrap .manwon {
    background-color: transparent;
    top: 134px;
    right: 248px;
}
.stats-sub-section .graph-wrap .freeworkout .manwon {
    right: 249px;
    top: 157px;
}
.stats-sub-section .graph-wrap .nofilter .manwon {
    right: 249px;
    top: 163px;
}
.graph-wrap.zoom .manwon {
    right: 300px;
    top: 110px;
    background-color: #FFFAED;
}
.graph-wrap.zoom .manwon::after {
    content: '만원';
    display: inline;
}
.graph-wrap.zoom .freeworkout .manwon {
    right: 308px;
    top: 110px;
}
.graph-wrap.zoom.type_box3 .manwon {
    right: 300px;
    top: 125px;
}
.graph-wrap .hover-box {
    position: absolute;
    width: 162px;
    height: 120px;
    top: 77px;
    left: 63px;
    display: flex;
    gap: 2px;
}

.graph-wrap.zoom .hover-box {
    position: absolute;
    width: 203px;
    height: 170px;
    top: 79px;
    left: 116px;
    display: flex;
    gap: 2px;
}
.graph-wrap.zoom  .freeworkout .hover-box {
    top: 4px;
    left: 82px;
}

.graph-wrap .hover-box .graph-hover {
    position: relative;
    height: 100%;
    width: 0;
    flex: 1;
}

.graph-wrap .hover-box .graph-hover>span {
    display: none;
    position: absolute;
    font-size: 1.3rem;
    background-color: #1B2025;
    color: #fff;
    padding: 5px;
    border-radius: 10px 10px 10px 0;
    white-space: nowrap;
    width: auto;
    z-index: 10;
}

.graph-wrap .hover-box .graph-hover.left span {
    bottom: 98px;
    left: 4px;
}

.graph-wrap.zoom .hover-box .graph-hover.left:hover span {
    bottom: 18px;
}

.graph-wrap .hover-box .graph-hover.center span {
    bottom: 61px;
    left: 50%;
    border-radius: 1000px;
    transform: translateX(-50%);
}

.graph-wrap .hover-box .graph-hover.right span {
    bottom: 4px;
    left: auto;
    right: 3px;
    border-radius: 10px 10px 0 10px;
}

.graph-wrap .hover-box .graph-hover.center span::after {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.graph-wrap .hover-box .graph-hover.right span::after {
    left: auto;
    right: -8px
}

.graph-wrap .hover-box .graph-hover:hover>span {
    display: block
}

.graph-wrap.zoom .hover-box .graph-hover:hover span {
    bottom: 83px;
}

.graph-wrap.zoom .hover-box .graph-hover.right:hover span {
    bottom: 132px;
}

.graph-wrap .freeworkout .hover-box .graph-hover.left span {
    bottom: 78px;
    left: 4px;
}

.graph-wrap .freeworkout .hover-box .graph-hover.center span {
    bottom: 55px;
    left: 50%;
}

.graph-wrap .freeworkout .hover-box .graph-hover.right span {
    bottom: 6px;
    left: auto;
    right: 3px;
    border-radius: 10px 10px 0 10px;
}

.graph-wrap.zoom .freeworkout .hover-box .graph-hover.left>span {
    bottom: 103px;
    left: 4px;
}

.graph-wrap.zoom .freeworkout .hover-box .graph-hover.center>span {
    bottom: 64px;
    left: 50%;
}

.graph-wrap.zoom .freeworkout .hover-box .graph-hover.right>span {
    bottom: 8px;
    left: auto;
    right: 3px;
    border-radius: 10px 10px 0 10px;
}
.results-content-wrapper .stats-description {
    font-size: 1.9rem;
}
.results-content-wrapper .stats-description .result-list li {
    position: relative;
    padding-left: 14px;
    font-size: 1.9rem;
    line-height: 29px;
    margin-bottom: 4px;
}
.results-content-wrapper .stats-description .result-list li::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #6D7882;
}

.stats-section .stats-description .btn-place {
    margin-top: 3.6rem;
    display: flex;
    gap: 8px;
}

.stats-section .stats-img {
    display: none;
    flex-shrink: 0;
    margin-top: 3.2rem;
}

.stats-section .stats-description .result-text {
    margin-bottom: 0.4rem;
}

.stats-section .stats-description span {
    color: #ED7801;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.counter {
    font: 700 48px/1 monospace;
    counter-reset: num var(--num);
}

.counter::before {
    content: counter(num);
}

@keyframes count {
    from {
        --num: 0;
    }

    to {
        --num: 10000;
    }
}

.counter {
    animation: count 3s ease-out forwards;
}

.btn-place {
    display: flex;
    gap: 2rem;
}

.stats-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.stat-label {
    font-family: 'Pretendard-Gov-Bold', sans-serif;
    color: #222222;
    font-size: 14px;
    line-height: 1.5;
}

.stat-value {
    font-family: 'Pretendard-Gov-Regular', sans-serif;
    color: #222222;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}
.blue-info {
    padding-left: 24px;
    background: url(../img/icons/annotation-info-blue.svg) left top no-repeat;
    background-size: 20px;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.bpop_add {background:#ebebeb;border:1px solid #ddd;padding:20px 30px;margin-top:30px;}
.bpop_add > p {color:#333;font-size:16px;border-bottom:1px solid #ccc;padding-bottom:20px;margin-bottom:20px}
.bpop_add > p + p {font-size:14px;border-bottom:none;margin-bottom:0;padding-bottom:0}
.bpop_add > p span {margin:0 15px}
.blackline {text-decoration: underline;color: #17191b;}

/* Additional Information */
.additional-info {
    background: white;
    border-radius: 8px;
    /* padding: 24px; */
    margin-top: 6px;
}

.additional-info+.additional-info {
    margin-top: 0;
}

.additional-info h3 {
    font-weight: bold;
    margin-bottom: 16px;
}

.info-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}
.info-list.g-wrap.row {
    gap: 16px;
}
.info-list.g-wrap.row .g-info-box {
    flex: 0 calc(100%/3);
}
.info-list.g-wrap.row .g-info-box p{
    font-size: 15px;
}
.info-list.g-wrap.row .g-info-box p strong {
    font-size: 17px;
}
.info-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border: 1px solid #e5e7eb;
    border-radius: 24px;
}

.info-icon {
    width: 40px;
    height: 40px;
    background: #fef3c7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: url(../images/ic/icon_noti.svg) center no-repeat;
}

.info-content {
    flex: 1;
}

.info-content h4 {
    font-weight: 500;
    font-size: 16px;
}

.info-subtitle {
    font-size: 14px;
    color: #6b7280;
}

.info-description {
    font-size: 14px;
    color: #6b7280;
    margin-top: 4px;
}

.info-actions {
    display: flex;
    gap: 8px;
}

.more-section {
    text-align: center;
    margin-top: 24px;
}

.more-btn {
    font-size: 14px;
    color: #2563eb;
    background: none;
    border: none;
    cursor: pointer;
}
.orange-noti {
    display: inline-block;
    padding-left: 26px;
    background: url(../img/contents/png/plan/icon_orange-noti.svg) no-repeat left top;
    background-size: 24px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 24px;
    margin-top: 1.2rem;
    color: #ED7801;
    font-size: 17px;
}

.complex-wrapper {
    display: block;
    position: absolute;
    border-radius: 200px;
    width: 16%;
    height: 20%;
    top: 42%;
    left: 69%;

}
.complex-wrapper .branch-list-box {
    opacity: 0;
    visibility: hidden;
    top: 0;
}
.complex-wrapper:hover .branch-list-box {
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 217px;
    min-width: 0;
}
.complex-wrapper .branch-list-box p {
    font-size: 15px;
    padding: 4px 8px;
}
