// ============================================
// Component Responsive Styles
// ============================================

// ============================================
// @include desktopLess { ... } : Desktop 이하 (~ 1279px)
// @include tabletLess { ... } : Tablet 이하 (~ 1023px)
// @include mobile { ... } : Mobile 이하 (~ 767px)
// ============================================

@include tabletLess {
  .page-description.bgBlue {
    padding: 1.5rem;
    p {
      font-size: 1.7rem;
      font-weight: 400;
      br {
        display: none;
      }
    }
  }
}

@include mobile {
  .summary-box {
    padding: 1.6rem;
    .summary-tit {
      margin-bottom: 1rem;
      font-size: 2.6rem;
    }
    .summary-link {
      flex-direction: column;
      gap: 2rem;
      b {
        font-weight: 400;
      }
      .youtube-btn-red {
        width: 100%;
      }
    }
    .summary-key {
      .keybox {
        flex: auto;
        width: 49%;
        border-radius: 14px;
        padding: 1.6rem;

        .stitle {
          img {
            margin: -0.2rem 0.5rem 0 0;
          }
        }

        // @include mobile {
        //   flex-direction: row;
        //   gap: 20px;
        // }

        b {
          display: block;
          // padding-left: 31px;
          margin-top: 0.5rem;
          font-weight: 400;
          font-size: 1.9rem;
          color: #595959;
        }
      }
    }
  }
}