

<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="roundcheck mt30">
        <ul class="krds-info-list dash">
            <li>월변제금, 상환기간 등 구체적인 <strong>상환조건</strong>은 <strong>소득, 부양가족</strong> 등에 따라 결정됩니다. </li>
            <li>정확한 결과를 안내받고 싶으신 경우, <a href="#"><span class="blackline"><strong>신용회복위원회 상담</strong>을 신청해 주시기 바랍니다.</span> <img src="/type/www/img/icons/ico_go_20.svg?ver=5.9" alt="" aria-hidden="true"></a></li>
        </ul>
    </div>
</div>
<!-- //Content Sections -->