
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="g-info-box">
        <table class="credential-info-table">
            <caption class="sr-only">개인회생절차 개시신청서 제출 서류 목록</caption>
            <colgroup>
                <col style="width: 3%;">
                <col style="width: 46%;">
                <col style="width: 3%;">
                <col style="width: 46%;">
            </colgroup>
            <tbody>
                <tr>
                    <th class="highlight-orange" scope="row">1.</th>
                    <td class="fw-normal">개인회생 채권자목록</td>
                </tr>
            </tbody>
        </table>
    </div>                                                        
</div>
<!-- //Content Sections -->