<!DOCTYPE html>
<html lang="ko">

<head>
	<meta name="breadcrumb" content="채무조정 > 채무조정 자세히 알아보기 > 신속채무조정">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="keywords" content="신용회복위원회" />
    <meta name="description" content="신용회복위원회" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>간편진단 | 개인워크아웃</title>
	<link rel="shortcut icon" type="image/x-icon" href="../type/www/images/favicon/favicon.ico">
    
    <link rel="stylesheet" href="../type/www/css/bundle.css">

    
    
    
    

    
</head>
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="term-wrap">
        <table class="table_person mar_t10" >
            <colgroup>
                <col style="width: 30%;" />
                <col />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>위탁받는 자</th>
                    <th style="width: 286px;">위탁업무</th>
                    <th style="width: 309px;">재수탁자</th>
                    <th style="width: 180px;">보유 및 이용기간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> (주)케이티씨에스 효성ITX </td>
                    <td style="width: 286px;"> 채무조정 등 업무 범위 내 전화상담 및 In/Out Bound 관련
                        제반
                        업무 </td>
                    <td style="width: 309px;">-</td>
                    <td rowspan="5" style="height: 218px; width: 180px;">계약 종료 시까지
                    </td>
                </tr>
                <tr>
                    <td> (주)LG CNS </td>
                    <td style="width: 286px;"> 알림톡 발송 </td>
                    <td style="width: 309px;"> 재수탁자 : 카카오<br />
                        목적 : 카카오톡&nbsp;비즈메세지 이용 </td>
                </tr>
                <tr>
                    <td style="height: 26px;"> (주)SK브로드밴드 </td>
                    <td style="width: 286px; height: 26px;"> 인터넷전화 및 문자메세지 서비스 </td>
                    <td style="width: 309px; height: 26px;"> - </td>
                </tr>
                <tr>
                    <td> (주)오픈베이스 </td>
                    <td style="width: 286px;"> 정보시스템 통합운영 및 유지보수 </td>
                    <td style="width: 309px;"> 재수탁자 : 데이터스바넷,&nbsp;알투웨어, 에티버스<br />
                        목적 : 데이터베이스&nbsp;유지보수 </td>
                </tr>
                <tr>
                    <td> 신용복지 컨설턴트 </td>
                    <td style="width: 286px;"> 신용복지컨설팅 업무 </td>
                    <td style="width: 309px;"> - </td>
                </tr>
            </tbody>
        </table>
    </div>                                  
</div>
<!-- //Content Sections -->