
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="g-conts-area">
        <!-- accordion -->
        <div class="krds-accordion type-heading" data-type="multiOpen">
            <div class="accordion-item active">
                <h4 class="accordion-header"><button type="button" id="accordionHeaderSample01"
                        class="btn-accordion" aria-expanded="true" aria-controls="accordionCollapseSample01"><span
                            class="sec-tit">채무조정제도</span></button></h4>
                <div id="accordionCollapseSample01" class="accordion-collapse collapse"
                    aria-labelledby="accordionHeaderSample01">
                    <div class="accordion-body">
                        <!-- accordion contents -->
                        <div class="conts-desc"><b>채무 상환이 어려운 분들을 위해, <strong class="primary">채무감면·이자율 조정·분할상환·상환기간 연장·상환유예 등</strong> 다양한 방법으로 상환 조건을 조정해 경제적 재기를 돕는 제도입니다.</b></div>
                        <!-- //accordion contents -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Content Sections -->