
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="effect-box">
        <div class="boxc3">
            <div class="key-img">
                <img src="/type/www/images/img/keyword/img_채무감면.png" alt="채무감면 아이콘">
                <p>채무감면</p>
            </div>
            <div class="key-text">연체이자 <b class="fcOrange">전액 감면</b></div>
        </div>
        <div class="boxc3">
            <div class="key-img">
                <img src="/type/www/images/img/keyword/img_분할상환.png" alt="분할상환 아이콘">
                <p>분할상환</p>
            </div>
            <div class="key-text"><b class="fcOrange">최장 10년 이내</b> <br>원리금균등분할상환</div>
        </div>
        <div class="boxc3">
            <div class="key-img">
                <img src="/type/www/images/img/keyword/img_상환유예.png" alt="상환유예 아이콘">
                <p>상환유예</p>
            </div>
            <div class="key-text">원리금균등분할상환 전 또는 <br>상환 중 <b>6개월 단위로 최장 3년 이내</b> 유예<span class="fs_16">(유예이자율 연 3.25%)</span></div>
        </div>
        <div class="boxc3">
            <div class="key-img">
                <img src="/type/www/images/img/keyword/img_이자율조정.png" alt="이자율조정 아이콘">
                <p>이자율조정</p>
            </div>
            <div class="key-text">약정이자율의 <b class="fcOrange">30~50% 인하</b><br><span class="fs_16">(이자율 최고 연 15%, 최저 3.25%<br>단, 신용카드는 이자율 최고 연 10%)</span> </div>
        </div>
        <div class="boxc3">
            <div class="key-img">
                <img src="/type/www/images/img/keyword/img_추심중단.png" alt="추심중단 아이콘">
                <p>추심중단</p>
            </div>
            <div class="key-text">신청 다음 날부터 <b>본인 및 보증인</b>에 대한 <b>추심 중단</b></div>
        </div>
        <div class="boxc3">
            <div class="key-img">
                <img src="/type/www/images/img/keyword/img_단기연체정보해제.png" alt="단기연체정보해제 아이콘">
                <p>단기연체정보해제</p>
            </div>
            <div class="key-text">개인신용평가회사에 등록된 <b class="fcOrange">단기연체정보 해제</b></div>
        </div>
    </div>
</div>
<!-- //Content Sections -->