
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="effect-box mt20">
        <div class="boxc3">
            <div class="key-img">
                <img src="../type/www/images/img/img_신용교육_초등학생.png"
                    alt="">
                <p>초·중등학생</p>
            </div>
            <div class="key-text">
                <ul class="krds-info-list decimal" role="list">
                    <li role="listitem">올바른 용돈관리 방법</li>
                    <li role="listitem" class="mt0">일생이 행복한 돈관리의 첫 단추
                    </li>
                    <li role="listitem" class="mt0">신용 있는 사람으로 성장하기</li>
                </ul>
            </div>
        </div>
        <div class="boxc3">
            <div class="key-img">
                <img src="../type/www/images/img/img_신용교육_고등학생.png"
                    alt="">
                <p>고등학생</p>
            </div>
            <div class="key-text">
                <ul class="krds-info-list decimal" role="list">
                    <li role="listitem">고등학생이 신용관리의 중요성을 이해할 수 있는 신용·금융
                        교육</li>
                    <li role="listitem" class="mt0">예비사회진입 초년생으로 갖추어야 할
                        금융·경제 이해력 향상</li>
                </ul>
            </div>
        </div>
        <div class="boxc3">
            <div class="key-img">
                <img src="../type/www/images/img/img_신용교육_대학생.png"
                    alt="">
                <p>대학생</p>
            </div>
            <div class="key-text">
                <ul class="krds-info-list decimal" role="list">
                    <li role="listitem">내 학자금은 내 스스로!</li>
                    <li role="listitem" class="mt0">사회초년생 신용관리·금융 이용법
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //Content Sections -->