
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="financial-support-section">
        <div class="financial-support-cards">
            <div class="support-card">
                <div class="card-header"><img src="/type/www/images/logo/logo_서민금융진흥원.png" alt="서민금융진흥원"></div>
                <div class="card-body">
                    <div class="card-content">
                        <div class="card-item">
                            <div class="item-header">
                                <i class="fa-solid fa-circle-check" aria-hidden="true"></i>
                                <span class="item-title">정책서민금융상품(생활안정자금, 자산형성 등)</span>
                            </div>
                            <div class="item-description">
                                저소득·저신용 등 서민에게 대출 지원 및 서민의 경제적 자립을 위한 중·장기 자산형성 지원
                            </div>
                        </div>
                        
                        <div class="card-item">
                            <div class="item-header">
                                <i class="fa-solid fa-circle-check" aria-hidden="true"></i>
                                <span class="item-title">휴면예금</span>
                            </div>
                            <div class="item-description">
                                소멸시효, 지급시기 등이 도래한 예금,
                                보험금 등 지급
                            </div>
                        </div>
                        
                        <div class="card-item">
                            <div class="item-header">
                                <i class="fa-solid fa-circle-check" aria-hidden="true"></i>
                                <span class="item-title">소액보험</span>
                            </div>
                            <div class="item-description">
                                양육비수당 수급 중인 한부모가구에게
                                소액보험 제공
                            </div>
                        </div>
                    </div>
                    <div class="card-note">
                        <i class="fa-solid fa-check red" aria-hidden="true"></i>
                        <span>대면/비대면 신청 가능</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Content Sections -->