
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="krds-table-wrap mt20">
        <table class="tbl col data">
            <caption>
                이행기간 중 면책 신청 대상자 표 (취약채무자, 소득, 보유재산가액으로 구성됨)
            </caption>
            <colgroup>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">취약채무자</th>
                    <th scope="col" class="">소득</th>
                    <th scope="col" class="">보유재산가액</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">기초생활수급자</td>
                    <td class="" rowspan="2">
                        -
                    </td>
                    <td class="" rowspan="2">
                        -
                    </td>
                </tr>
                <tr>
                    <td scope="row">장애의 정도가 심한 장애인 (중증장애인)</td>
                </tr>
                <tr>
                    <td scope="row">만 70세 이상</td>
                    <td class="">
                        <div class="tooltip-trigger" tabindex="0">
                            최저생계비<i class="fas fa-question-circle"></i>
                            <div class="tooltip">
                                <h6>2026년 기준</h6>
                                <table class="tbl data white" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>가구원수</th>
                                            <th>최저생계비</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1인</th>
                                            <td>1,025,695</td>
                                        </tr>
                                        <tr>
                                            <th>2인</th>
                                            <td>1,679,716</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td class="">
                        「채무자 회생 및 파산에 관한 법률」에서 정한 면제재산 범위 이내
                    </td>
                </tr>
            </tbody>
        </table>
    </div>                                             
</div>
<!-- //Content Sections -->