
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="g-desc-box">
        <div class="krds-table-wrap scroll">
            <table class="tbl col data full">
                <caption>
                    채무조정 성실상환자 소액신용(체크)카드 발급 안내 표 (구분, 후불교통카드, 소액신용체크, 소액신용으로 구성됨)
                </caption>
                <colgroup>
                    <col style="">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">구분</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="">24개월
                            <sup>
                                <div class="tooltip-trigger" tabindex="0">
                                    <i class="fas fa-question-circle"></i>
                                    <div class="tooltip" style="position: absolute; top: initial; left: initial; right:0; transform: initial;">신속 · 사전채무조정은 18개월 이상</div>
                                </div>
                            </sup>
                        </td>
                    </tr>
                    <tr>
                        <td class="">6개월</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>                                                
</div>
<!-- //Content Sections -->