
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="activity-cards">
        <div class="activity-card">
            <div class="activity-card-icon">
                <img src="type/www/images/img/img_highlight_title01.png" alt="아이콘">
            </div>
            <div class="activity-card-content">
                <h3>신용상담</h3>
                <p>신용회복위원회, 금융회사 서민금융 상담창구(희망플러스, 새희망홀씨 등), 신용회복지원협약가입기관 담당자, 금융복지 상담센터 상담원, 금융회사가계여신 담당자 및 퇴직 예정자</p>
            </div>
        </div>
    </div>                            
</div>
<!-- //Content Sections -->