
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="g-desc-body">
        <div class="g-grid-wrap unit2">
            <a href="복합지원신청_금융지원.html" target="_blank" aria-label="금융지원 페이지로 이동 - 새창 열림">
                <div class="g-info-box boxbg-blue activity-card-content blue space-between">
                    <div class="content-wrapper">
                        <h3>금융지원</h3>
                        <p class="textbox">
                            <strong>정책서민금융 및 불법사금융 상담</strong>이 필요한<br> 분께
                            맞춤형 불법사금융 피해상담 등의 금융지원 제도를 연계하고 있습니다.
                        </p>
                    </div>
                    <img src="type/www/images/img/img_hand01.png"
                        alt="금융지원 이미지" class="activity-card-image" aria-hidden="true">
                    <div class="plusbox mt10">
                        <img src="type/www/images/ic/ic-plus.svg"
                            alt="" aria-hidden="true">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- //Content Sections -->