
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="g-conts-area sp-sm mt20">
        <div class="g-info-box point">
            <div class="g-desc-box roundcheck">
                <p class="g-tit">유의 사항</p>
                <ul class="krds-info-list dash">
                    <li class="">신속채무조정, 사전채무조정, 새출발기금 중개형(부실우려차주)은 한국신용정보원에
                        신용회복지원정보에 공공정보(’1101‘, ’1802‘)가 등록되지 않습니다.</li>
                    <li class="">변제유예기간 중 이자를 면제받은 경우에는 해당 유예기간은 상환기간에 포함되지
                        않습니다.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //Content Sections -->