
<!-- Content Sections -->
<div class="content-sections g-wrap">
    <div class="history-container">
        <div class="history-list">
            <div class="history-item">
                <div class="history-date-wrap">
                    <span class="history-bullet"></span>
                    <span class="history-date">2002.10.1</span>
                </div>
                <div class="history-desc">
                    금융채무불이행자 문제 해결을 위하여 금융회사간 신용회복지원 협약에 따라 자율협의체로 출범
                </div>
            </div>
            <div class="history-item">
                <div class="history-date-wrap">
                    <span class="history-bullet"></span>
                    <span class="history-date">2003.11.1</span>
                </div>
                <div class="history-desc">
                    채무조정의 공정성과 객관성을 확보하고 신용관리에 관한 상담 및 교육 등 공익적 업무를 보다 효율적으로 수행하기 위해 <span class="font-bold">비영리사단법인으로 전환</span>
                </div>
            </div>
            <div class="history-item">
                <div class="history-date-wrap">
                    <span class="history-bullet"></span>
                    <span class="history-date">2016.9.23</span>
                </div>
                <div class="history-desc">
                    『서민의 금융생활 지원에 관한 법률』 제정에 따라 <span class="font-bold">2016. 9. 23 특별법에 의한 특수법인으로 재출범</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Content Sections -->