
<!-- Content Sections -->
<div class="content-sections g-wrap">
     <div class="summary-box">
        <h3 class="summary-tit">신속채무조정</h3>
        <div class="summary-link">
            <p class="w-full"><b>연체가 우려되거나 연체가 시작되었다면, 일정기간 원리금 상환을 유예하고 <br>유예 후에는 이자율을 낮춰 장기 분할상환할 수 있습니다.</b></p>
            <a href="#" class="youtube-btn-red" onclick="openyoutubeurl('https://www.youtube.com/watch?v=OqR5E_HmjX8'); return false;" target="_blank" title="새창열림" aria-label="신속채무조정 알아보기 영상 보기 - 새 창">신속채무조정 알아보기 <i class="icon-youtube" aria-hidden="true"></i></a>
        </div>
        <div class="summary-key">
            <div class="keybox per25">
                <div class="stitle">
                    <img src="/type/www/images/img/keyword/keyword_연체기간.png" alt="연체기간 아이콘">
                    <span>연체기간</span>
                </div>
                <b class="key-text">30일 이하</b>
            </div>
            <div class="keybox per25">
                <div class="stitle">
                    <img src="/type/www/images/img/keyword/keyword_추심중단.png" alt="추심중단 아이콘">
                    <span>추심중단</span>
                </div>
                <b class="key-text">신청 다음날 부터 즉시</b>
            </div>
            <div class="keybox per25">
                <div class="stitle">
                    <img src="/type/www/images/img/keyword/keyword_이자율인하.png" alt="이자율 인하 아이콘">
                    <span>이자율 인하</span>
                </div>
                <b class="key-text">약정이자율의 30~50% 인하 </b>
            </div>
            <div class="keybox per25">
                <div class="stitle">
                    <img src="/type/www/images/img/keyword/keyword_상환기간·방식.png" alt="상환기간 아이콘">
                    <span>상환기간</span>
                </div>
                <b class="key-text">최장 10년 원리금균등분할</b>
            </div>
        </div>
    </div>                         
</div>
<!-- //Content Sections -->